p {
    font-family: Kanit;
    margin-top: 0;
    margin-bottom: 0;
}

.video-title {
    font-weight: bold;
    font-size: 30px;
    display: inline-block;
    line-height: 24px;
    margin-bottom: 20px;
}

.video-stats {
    font-size: 20px;
    color: rgb(96,96,96);
    margin-bottom: 20;
}

.video-author {
    font-size: 20px;
    color: rgb(96,96,96);
    margin-bottom: 20px;
}

.video-description {
    font-size: 20px;
    color: rgb(96,96,96);
    line-height: 22px;
    margin-bottom: 50px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 20px;
    background-color: rgb(227,65,64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.shop {
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#picture:hover {
    cursor: pointer;
}

.shop:hover {
    text-decoration: underline;
}

#text1 {
    display: none;
}

.aon {
    width: 400px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.50);
    display: inline-block;
    margin-right: 30px;
}
.frame {
    text-align: center;
}



